{% extends 'home.html' %}
{% block content %}
    <h1 class="text-center">书籍添加</h1>
    <div>
        <form action="" method="post">
            <p> 书名:<input type="text" name="title" class="form-control"></p>
            <p> 价格：<input type="text" name="price" class="form-control"></p>
            <p> 日期：<input type="date" name="publish_time" class="form-control" value="{{ book_obj.publish_time}}"></p>
            <p> 出版社：<select name="publish_id" id="" class="form-control">
                {% for publish_obj in publish_queryset %}
                    <option value="{{ publish_obj.pk }}">{{ publish_obj.name }}</option>
            {% endfor %}
            </select>
            </p>
            <p> 作者：<select name="authors_list" id="" multiple class="form-control">
                {% for author_obj in author_queryset %}
                    <option value="{{ author_obj.pk }}">{{ author_obj.name }}</option>
            {% endfor %}
            </select>
            </p>
            <input type="submit" class="btn btn-block btn-warning">
        </form>
    </div>
{% endblock %}